{% extends "base.html" %}

{% block content %}
<main class="mt-5 pt-4">
  <div class="container dark-grey-text mt-5">

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 mb-4 text-center">

        <img src="{{ object.image.url }}" class="img-fluid" alt="" width="300" height="300">>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!--Content-->
        <div class="p-4">

          <p class="lead font-weight-bold text-capitalize">{{ object.nombre }}</p>

          <p>{{ object.descripcion }}</p>

          <h5>
            <strong>
              <span href="{{ item.get_absolute_url }}" class="badge bg-secondary">{{ object.tipo }}</span>
            </strong>
          </h5>

          <p class="text-capitalize">
            <strong class="fw-bolder">Administrador: </strong>
            <a>{{ object.nombre_admin }} </a>
          </p>

          <p class="text-capitalize">
            <strong class="fw-bolder">Cédula: </strong>
            <a>{{ object.cc_admid }} </a>
          </p>

          <p class="text-capitalize">
            <strong class="fw-bolder">Código NIT: </strong>
            <a>{{ object.codigo_nit }} </a>
          </p>
          <p>
          <h6>El código NIT certifica que la página está registrada en la cámara de comercio. Más
            información en
            <a href="http://www.rues.org.co/"> http://www.rues.org.co/</a>
          </h6>
          </p>

          <p class="text-capitalize">
            <strong class="fw-bolder">Departamento: </strong>
            <a>{{ object.departamento }} </a>
          </p>

          <p class="text-capitalize">
            <strong class="fw-bolder">Ciudad: </strong>
            <a>{{ object.ciudad }} </a>
          </p>

          <p class="text-capitalize">
            <strong class="fw-bolder">Dirección: </strong>
            <a>{{ object.direccion }} </a>
          </p>

          <p class="text-capitalize">
            <strong class="fw-bolder">Estrato: </strong>
            <a>{{ object.estrato }} </a>
          </p>

          <h6>
            <strong>
              Contactar <i class="fas fa-phone"></i></strong>
          </h6>

          <p class="text-capitalize">
            <strong class="fw-bolder">Teléfono: </strong>
            <a>{{ object.telefono }} </a>
          </p>

          <p class="">
            <strong class="fw-bolder">Email: </strong>
            <a>{{ object.email }} </a>
          </p>

          {% for i in object.administrador.fundaciones %}
          {% if i == object.idFundacion %}
          <p>Eres administrador. <a href="{{ item.delete_product }}">Eliminar fundación </a></p>
          {% endif %}
          {% endfor %}

          {% comment %} <form class="d-flex justify-content-left">
            <!-- Default input -->
            <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
            <button class="btn btn-primary btn-md my-0 p" type="submit">
              Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </button>

          </form>
          <a href="/" class="btn btn-success btn-md my-0 p">
            Contactar Fundación
            <i class="fas fa-phone"></i>
          </a> {% endcomment %}
          {% comment %}
          <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
            Añadir a lista de deseos
            <i class="fas fa-list-ul ml-1"></i>
          </a>

          <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p md-3">
            Remove from cart
          </a> {% endcomment %}

        </div>
        <!--Content-->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->


    <hr>

    <!--Grid row-->
    <div class="row d-flex justify-content-center wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 text-center">

        <h4 class="my-4 h4">Additional information</h4>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit
          voluptates,
          quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">

        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
</main>

{% endblock content %}