{% extends "base.html" %}

{% block content %}
<main class="mt-5 pt-4">
  <div class="container dark-grey-text mt-5">

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 mb-4 text-center">

        <img src="{{ object.image.url }}" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!--Content-->
        <div class="p-4">

          <p class="lead font-weight-bold text-capitalize">{{ object.title }}</p>

          <p>{{ object.description }}</p>

          <h5>
            <strong>
              <span href="{{ item.get_absolute_url }}" class="badge bg-secondary">{{ object.tipo }}</span>
            </strong>
          </h5>

          {% if object.tipo == "Intercambio" %}
          <p>Este item se ha publicado como intercambio, por lo que deberás ofrecerle al ofertante un bien o servicio.
          </p>
          {% if object.busca_intercambio %}
          <a class="fw-bolder text-capitalize mb-5">{{ object.ofertante }}: </a>
          <a class="mb-5"> "{{ object.intercambio }}"</a>
          {% endif %}
          {% endif %}

          <p class="text-capitalize">
            <strong class="fw-bolder">Ubicación: </strong>
            <a>{{ object.ciudad }}, {{ object.departamento }} </a>
          </p>
          <h6>
            <strong>
              Contactar ofertante <i class="fas fa-phone"></i></strong>
          </h6>

          <p class="text-capitalize">
            <strong class="fw-bolder">Usuario: </strong>
            <a>{{ object.ofertante }} </a>
          </p>
          <p class="text-capitalize">
            <strong class="fw-bolder">Teléfono: </strong>
            <a>{{ object.telefono }} </a>
          </p>
          <p class="">
            <strong class="fw-bolder">Email: </strong>
            <a>{{ object.email }} </a>
          </p>

          {% for i in object.ofertante.productos_ofertados %}
          {% if i == object.idProducto %}
          <p>Este producto es tuyo. <a href="/">Eliminar</a></p>

          {% endif %}
          {% endfor %}

          <h5>
            <p href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
              Añadir a lista de deseos
              <i class="fas fa-list-ul ml-1"></i>
            </p>
          </h5>



          {% comment %}
          <a href="/" class="btn btn-success btn-md my-0 p font-weight-bold">
            Contactar ofertante
            <i class="fas fa-phone"></i>
          </a>
          {% endcomment %}

          {% comment %}
          <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p md-3">
            Remove from cart
          </a> {% endcomment %}

        </div>
        <!--Content-->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->


    <hr>

    <!--Grid row-->
    <div class="row d-flex justify-content-center wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 text-center">

        <h4 class="my-4 h4">Additional information</h4>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit
          voluptates,
          quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">

        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
</main>

{% endblock content %}